/**
 * Dots
 */
.ht--preloader-container {
    margin-top: 10px;
}

.ht--preloader-container .ht--preloader {
    width: 100%;
    height: 200px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}