/*--------------------------------------------------------------
# Abstract.
--------------------------------------------------------------*/
/* Media text.
--------------------------------------------- */
.wp-block-media-text .wp-block-media-text__content {
	padding: 0 0 0 8%;
}

.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
	padding: 0 8% 0 0;
}

@media (max-width: 600px) {
	.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
		padding: 0;
	}
	.wp-block-media-text .wp-block-media-text__content {
		padding: 0;
	}
}

/* Columns.
--------------------------------------------- */
.wp-block-columns {
	padding-top: 3em;
	padding-right: 2em;
	padding-bottom: 3em;
	padding-left: 2em;
}

/* Social icons.
--------------------------------------------- */
.wp-block-social-links li a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

/* Query loop.
--------------------------------------------- */
ul.wp-block-post-template {
	margin: 0;
}

/* Button loop.
--------------------------------------------- */
.entry-content .wp-block-button.is-style-outline .wp-block-button__link {
	color: #027ABB;
	border-width: 1px;
}

/* Cover loop.
--------------------------------------------- */
.wp-block-cover p.wp-block-cover-text {
	color: #FFF;
}

.zakra-border-radius-img-inside--20 img {
	border-radius: 20px;
}

/*=============================================
=            Heading Typography            =
=============================================*/
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6 {
	color: #3F3F46;
	line-height: 1.3;
	font-weight: 400;
	margin: 0 0 20px;
}

.editor-styles-wrapper h1 {
	font-size: 4rem;
}

.editor-styles-wrapper h2 {
	font-size: 3.2rem;
}

.editor-styles-wrapper h3 {
	font-size: 2.4rem;
}

.editor-styles-wrapper h4 {
	font-size: 2rem;
}

.editor-styles-wrapper h5 {
	font-size: 1.8rem;
}

.editor-styles-wrapper h6 {
	font-size: 1.6rem;
}

/*=============================================
=            Base Typography            =
=============================================*/
.editor-styles-wrapper code {
	background-color: #FAFAFA;
	padding: 0.125em 0.25em;
}

.editor-styles-wrapper pre {
	background-color: #FAFAFA;
	padding: 20px;
}

.editor-styles-wrapper blockquote {
	padding: 16px;
	margin-top: 34px;
	margin-bottom: 34px;
	border-left: 4px solid #027ABB;
	color: #27272A;
	font-style: italic;
}

.editor-styles-wrapper blockquote.has-text-align-right {
	border: unset;
	border-left: 4px solid #027ABB;
}

/*=============================================
=            Table            =
=============================================*/
.editor-styles-wrapper table {
	margin: 0 0 1.5em;
	width: 100%;
}

.editor-styles-wrapper table th,
.editor-styles-wrapper table td {
	text-align: left;
	border: 1px solid #D4D4D8;
	padding: 1em;
}

.editor-styles-wrapper hr {
	background-color: #E4E4E7;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/* Make sure embeds and iframes fit their containers */
.editor-styles-wrapper embed,
.editor-styles-wrapper iframe,
.editor-styles-wrapper object {
	max-width: 100%;
}

.editor-styles-wrapper button:not(.components-button):not([role=presentation]):not(.mce-open),
.editor-styles-wrapper input[type="button"],
.editor-styles-wrapper input[type="reset"],
.editor-styles-wrapper input[type="submit"] {
	border: 0 solid #E4E4E7;
	background-color: #027ABB;
	color: #FAFAFA;
	padding: 0.7rem 1rem;
}

.editor-styles-wrapper button:not(.components-button):not([role=presentation]):not(.mce-open),
.editor-styles-wrapper input[type="button"]:hover,
.editor-styles-wrapper input[type="reset"]:hover,
.editor-styles-wrapper input[type="submit"]:hover {
	background-color: #015989;
}

.editor-styles-wrapper input[type="text"],
.editor-styles-wrapper input[type="email"],
.editor-styles-wrapper input[type="url"],
.editor-styles-wrapper input[type="password"],
.editor-styles-wrapper input[type="search"],
.editor-styles-wrapper input[type="number"],
.editor-styles-wrapper input[type="tel"],
.editor-styles-wrapper input[type="range"],
.editor-styles-wrapper input[type="date"],
.editor-styles-wrapper input[type="month"],
.editor-styles-wrapper input[type="week"],
.editor-styles-wrapper input[type="time"],
.editor-styles-wrapper input[type="datetime"],
.editor-styles-wrapper input[type="datetime-local"],
.editor-styles-wrapper input[type="color"],
.editor-styles-wrapper select,
.editor-styles-wrapper textarea {
	color: #3F3F46;
	border: 1px solid #D4D4D8;
	padding: 0.7rem 1rem;
	width: 100%;
	border-radius: 0;
}

.editor-styles-wrapper input[type="text"]:focus,
.editor-styles-wrapper input[type="email"]:focus,
.editor-styles-wrapper input[type="url"]:focus,
.editor-styles-wrapper input[type="password"]:focus,
.editor-styles-wrapper input[type="search"]:focus,
.editor-styles-wrapper input[type="number"]:focus,
.editor-styles-wrapper input[type="tel"]:focus,
.editor-styles-wrapper input[type="range"]:focus,
.editor-styles-wrapper input[type="date"]:focus,
.editor-styles-wrapper input[type="month"]:focus,
.editor-styles-wrapper input[type="week"]:focus,
.editor-styles-wrapper input[type="time"]:focus,
.editor-styles-wrapper input[type="datetime"]:focus,
.editor-styles-wrapper input[type="datetime-local"]:focus,
.editor-styles-wrapper input[type="color"]:focus,
.editor-styles-wrapper select:focus,
.editor-styles-wrapper textarea:focus {
	color: #52525B;
}

.editor-styles-wrapper input[type="search"] {
	-webkit-appearance: none;
}

.editor-styles-wrapper input[type="checkbox"],
.editor-styles-wrapper input[type="radio"] {
	margin-right: 0.5rem;
	vertical-align: middle;
	display: inline-block;
}

.editor-styles-wrapper label {
	margin-bottom: 0.5rem;
	display: inline-block;
}

.editor-styles-wrapper select {
	border: 1px solid #D4D4D8;
	padding: 0.5rem;
}

/*=============================================
=                    Links                    =
=============================================*/
.editor-styles-wrapper a,
.editor-styles-wrapper .wp-block-file__textlink {
	color: #027ABB;
	text-decoration: none;
	-webkit-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}

.editor-styles-wrapper a:hover, .editor-styles-wrapper a:focus {
	color: #0284C7;
}

/*=============================================
=            Lists            =
=============================================*/
.editor-styles-wrapper ul,
.editor-styles-wrapper ol {
	margin: 0 0 1.6rem 1.6rem;
	padding-left: 0;
}

.editor-styles-wrapper ul {
	list-style: square;
}

.editor-styles-wrapper ol {
	list-style: decimal;
}

.editor-styles-wrapper li > ul,
.editor-styles-wrapper li > ol {
	margin-bottom: 0;
	margin-left: 1.6rem;
}

.editor-styles-wrapper dt {
	font-weight: 700;
}

.editor-styles-wrapper dd {
	margin: 0 1.6rem 1.6rem;
}

/*=============================================
=            Alignments            =
=============================================*/
.editor-styles-wrapper .alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.editor-styles-wrapper .alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.editor-styles-wrapper .aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*=============================================
=            Captions            =
=============================================*/
.editor-styles-wrapper .wp-caption {
	border: 1px solid #cccccc;
	margin-bottom: 1.5em;
	max-width: 100%;
}

.editor-styles-wrapper .wp-caption img[class*="wp-image-"],
.editor-styles-wrapper .wp-caption img[class*="wp-image-"] dt {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}

.editor-styles-wrapper .wp-caption .wp-caption-text,
.editor-styles-wrapper .wp-caption .wp-caption .wp-caption-dd {
	margin: 0.8075em 0;
}

.editor-styles-wrapper .wp-caption-text,
.editor-styles-wrapper .wp-caption .wp-caption-dd {
	text-align: center;
}

/*=============================================
=            Gallery            =
=============================================*/
.editor-styles-wrapper .gallery {
	margin: 0 auto 1.5em;
}

.editor-styles-wrapper .gallery-item {
	display: inline-block;
	padding: 15px 2%;
	text-align: center;
	vertical-align: top;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.editor-styles-wrapper .gallery-icon img {
	margin: 0 auto;
}

.editor-styles-wrapper .gallery .gallery-caption {
	font-size: 12px;
	line-height: 1.2;
	padding-top: 5px;
}

.editor-styles-wrapper .wp-block-gallery ol,
.editor-styles-wrapper .wp-block-gallery li {
	margin-bottom: 1em;
}

.editor-styles-wrapper .wp-block .gallery-columns-2 .gallery-item {
	width: 50%;
}

.editor-styles-wrapper .wp-block .gallery-columns-3 .gallery-item {
	width: 33.33%;
}

.editor-styles-wrapper .wp-block .gallery-columns-4 .gallery-item {
	width: 25%;
}

.editor-styles-wrapper .wp-block .gallery-columns-5 .gallery-item {
	width: 20%;
}

.editor-styles-wrapper .wp-block .gallery-columns-6 .gallery-item {
	width: 16.66%;
}

.editor-styles-wrapper .wp-block .gallery-columns-7 .gallery-item {
	width: 14.28%;
}

.editor-styles-wrapper .wp-block .gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.editor-styles-wrapper .wp-block .gallery-columns-9 .gallery-item {
	width: 11.11%;
}

.editor-styles-wrapper .wp-block .gallery-columns-3 .gallery-item {
	padding: 15px 1%;
}

.editor-styles-wrapper .wp-block .gallery-columns-4 .gallery-item {
	padding: 15px 1%;
}

.editor-styles-wrapper .wp-block .gallery-columns-5 .gallery-item {
	padding: 15px 1%;
}

.editor-styles-wrapper .wp-block .gallery-columns-6 .gallery-item {
	padding: 10px 0.5%;
}

.editor-styles-wrapper .wp-block .gallery-columns-7 .gallery-item {
	padding: 10px 0.5%;
}

.editor-styles-wrapper .wp-block .gallery-columns-8 .gallery-item {
	padding: 10px 0.5%;
}

.editor-styles-wrapper .wp-block .gallery-columns-9 .gallery-item {
	padding: 10px 0.5%;
}

html {
	font-size: var(--zak-root-font-size, 62.5%);
	/* Sets base font size to 10px editor */
}

/* Basic Block Editor CSS */
.editor-styles-wrapper {
	background-color: #ffffff;
	color: #3F3F46;
	font-size: 1.6rem;
	font-family: -apple-system, blinkmacsystemfont, "segoe ui", roboto, "oxygen-sans", ubuntu, cantarell, "helvetica neue", helvetica, arial, sans-serif;
	line-height: 1.8;
	word-wrap: break-word;
}

.editor-styles-wrapper > * {
	font-family: -apple-system, blinkmacsystemfont, "segoe ui", roboto, "oxygen-sans", ubuntu, cantarell, "helvetica neue", helvetica, arial, sans-serif;
	color: #3F3F46;
}

.editor-styles-wrapper .wp-block[data-align="wide"] {
	max-width: 1200px;
}

.editor-styles-wrapper .wp-block.editor-post-title__block .editor-post-title__input {
	margin: 0 0 0.5em;
	font-size: 3.2rem;
	word-wrap: break-word;
	line-height: 1.8;
	color: #3F3F46;
	font-weight: normal;
}

.wp-block-button__link {
	background-color: #027ABB;
	border-radius: 0;
	color: #FAFAFA;
	padding: 0.7rem 1rem;
}

.wp-block {
	max-width: 1160px;
}

.wc-block-grid__products .wc-block-grid__product {
	text-align: left;
	position: relative;
}

.wc-block-grid__products .wc-block-grid__product a {
	text-decoration: none;
}

.wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-image {
	margin-bottom: 16px;
}

.wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-image img {
	width: 100%;
}

.wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-onsale, .wc-block-grid__products .wc-block-grid__product .zakra-onsale-normal-wrapper {
	position: absolute;
	color: #FFF;
	border: none;
	border-radius: 0;
	background-color: #27272A;
	display: inline-block;
	font-size: .875em;
	font-weight: 600;
	padding: 0.25em 0.75em;
	text-align: center;
	text-transform: uppercase;
	width: auto;
	z-index: 9;
}

.wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-title {
	margin-bottom: 4px;
	font-size: 1em;
	font-weight: 600;
	color: #3F3F46;
}

.wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-price {
	font-size: 14px;
	margin-bottom: .5em;
	font-weight: 600;
}

.wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-price del {
	color: #71717A;
	font-weight: 400;
}

.wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-rating__stars span:before {
	color: #F90;
}

.wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-add-to-cart {
	margin-top: 1em;
}

.wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-add-to-cart .wp-block-button__link {
	display: block;
	background-color: transparent;
	text-align: center;
	margin-top: 16px;
	padding: 6px 24px;
	color: #3F3F46;
	font-size: 1.4rem;
	font-weight: 600;
	border: 1px solid #D4D4D8;
	border-radius: 4px;
}

.wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-add-to-cart .wp-block-button__link:hover {
	color: #FAFAFA;
}

.wp-block-cover .block-editor-block-list__layout {
	margin-left: auto;
	margin-right: auto;
}

.wc-block-components-pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	gap: 16px;
}

.wc-block-product-categories__dropdown {
	width: 35%;
}

.wc-block-product-categories__dropdown select {
	width: 100%;
	border-radius: 4px;
}

.wc-block-product-categories__button {
	border-radius: 4px;
}

.wc-block-all-products .wc-block-sort-select {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.wc-block-all-products .wc-block-sort-select__label {
	display: none;
}

.wc-block-all-products .wc-block-sort-select__select {
	border-radius: 4px;
}

.wc-block-review-list .wc-block-review-list-item__info {
	margin-bottom: 8px;
}

.wc-block-review-list .wc-block-review-list-item__product {
	font-weight: 600;
}

.wc-block-review-list .wc-block-review-list-item__item {
	padding-bottom: 24px;
	margin-bottom: 24px;
	border-bottom: 1px solid #D4D4D8;
}

.wc-block-review-list .wc-block-review-list-item__text {
	margin-left: 65px;
}

.wc-block-review-list .wc-block-review-list-item__item .wc-block-review-list-item__info .wc-block-review-list-item__meta .wc-block-review-list-item__author {
	font-weight: 600;
}

.wp-block-search__inside-wrapper input[type="search"] {
	padding: 8px 16px;
	border-radius: 4px;
}

.wp-block-search__inside-wrapper .wp-block-search__button.wp-element-button {
	background-color: #027ABB;
	border-radius: 4px;
}

.wc-block-components-review-list-item__image > img {
	border-radius: 100%;
}

.wc-block-review-sort-select select {
	padding: 8px 16px;
	border-radius: 4px;
}

.wc-block-featured-category__wrapper .wc-block-featured-category__link .block-editor-inner-blocks .block-editor-block-list__layout .wp-block-buttons .wp-block-button__link {
	background-color: #027ABB;
	border-radius: 4px;
	color: #FAFAFA;
	padding: 0.8rem 1rem;
	font-weight: 400;
	border: none;
}

.wc-block-featured-product__wrapper .wc-block-featured-product__link .block-editor-inner-blocks .block-editor-block-list__layout .wp-block-buttons .wp-block-button__link {
	background-color: #027ABB;
	border-radius: 4px;
	color: #FAFAFA;
	padding: 0.8rem 1rem;
	font-weight: 400;
	border: none;
}

.wc-block-grid.has-6-columns .wc-block-grid__products .wc-block-grid__product.product, .wc-block-grid.has-5-columns .wc-block-grid__products .wc-block-grid__product.product, .wc-block-grid.has-4-columns .wc-block-grid__products .wc-block-grid__product.product, .wc-block-grid.has-3-columns .wc-block-grid__products .wc-block-grid__product.product, .wc-block-grid.has-2-columns .wc-block-grid__products .wc-block-grid__product.product, .wc-block-grid.has-1-columns .wc-block-grid__products .wc-block-grid__product.product {
	font-size: 100%;
}

.editor-styles-wrapper .wp-block-button__link:not(.components-button):not([role=presentation]):not(.mce-open),
.editor-styles-wrapper input[type="button"]:hover,
.editor-styles-wrapper input[type="reset"]:hover, .editor-styles-wrapper input[type="submit"]:hover {
	display: block;
	background-color: transparent;
	text-align: center;
	margin-top: 16px;
	padding: 6px 24px;
	color: #3F3F46;
	width: 100%;
	font-size: 1.4rem;
	font-weight: 600;
	border: 1px solid #D4D4D8;
	border-radius: 4px;
}

.editor-styles-wrapper .wc-block-pagination-page:not(.components-button):not([role=presentation]):not(.mce-open),
.editor-styles-wrapper input[type="button"]:hover, .editor-styles-wrapper input[type="reset"]:hover, .editor-styles-wrapper input[type="submit"]:hover {
	background: #027ABB;
	border-radius: 4px;
}

.editor-styles-wrapper .wp-block .wc-block-grid__products .wc-block-grid__product .wc-block-components-product-image .wc-block-components-product-sale-badge--align-left,
.wc-block-components-product-image .wc-block-components-product-sale-badge--align-left {
	left: 0;
	top: 0;
}

.editor-styles-wrapper .wp-block .wc-block-grid__products .wc-block-grid__product .wc-block-components-product-image .wc-block-components-product-sale-badge--align-right,
.wc-block-components-product-image .wc-block-components-product-sale-badge--align-right {
	right: 0;
	top: 0;
}

.editor-styles-wrapper .wc-block-review-list .wc-block-components-review-list-item__item, .wc-block-components-review-list-item__item {
	margin-bottom: 24px;
}

:where(.wp-block-search__button-inside .wp-block-search__inside-wrapper) {
	border: 0;
}

.wc-block-attribute-filter .wc-block-components-checkbox .wc-block-components-checkbox__input[type=checkbox] {
	border: 1px solid #D4D4D8;
	border-radius: 4px;
}
